<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <ul>
            <% urls.forEach(function(linkItem){ %>
            <li>
                <a href="<%= linkItem.url %>"><%= linkItem.name %></a>
            </li>
            <% }) %>
        </ul>
    </div>
    This is the home page
    <h1>
        <%= name %>
    </h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product){ %>
            <tr>
                <td>
                    <%= product.title %>
                </td>
                <td>
                    <%= product.price %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>